@media (max-width: 1024px) {
    .menu {
        display: none;
    }

    .logo {
        margin-right: 0;
    }

    .main-three-title {
        font-size: 2rem;
    }

    .main-four-text {
        font-size: 2.6rem;
    }

    .main-five-title::after {
        margin-top: 12px;
    }

    .main-five-text {
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main-two-text {
        font-size: 1.56rem;
    }
    
    .main-three-link, .main-three-price {
        font-size: 1.25rem;
    }

    .main-five-desing {
        padding-bottom: 10px;
    }

    .main-five-fig, .main-five-fig-two {
        width: 50%;
    }

    .main-five-content {
        width: 50%;
        padding-top: 55px;
    }

    .moments {
        flex-wrap: wrap;
    }

    .moment-card {
        width: calc((100% / 2) - 8px);
        margin-left: 0;
    }

    .moment-card:nth-child(even) {
        margin-left: 8px;
    }

    .second-column {
        margin-left: 5.42%;
    }

    .social {
        margin-left: 16.12%;
    }
}

@media (max-width: 767px) {

    html {
        font-size: 12px;
    }

    .logo {
        width: 35.25%;
    }

    .bar-nav-item {
        width: 16px;
        height: 16px;
    }

    .bar-nav-cart-counter {
        top: 10px;
        font-size: 0.75rem;
    }

    .main-three-contents {
        flex-direction: column;
        align-items: center;
    }

    .main-one-content {
        margin-right: 0;
    }

    .main-one-title {
        font-size: 2rem;
        padding-left: 6px;
    }

    .main-two-link {
        margin-left: 30px;
    }

    .main-two-text {
        font-size: 1.56rem;
        line-height: 60px;
    }

    .main-three-content {
        width: 100%;
        margin-top: 32px;
    }

    .main-three-content:first-child {
        margin-top: 0;
    }

    .main-three-link, .main-three-price {
        font-size: 1.5rem;
    }

    .main-five-desing {
        flex-direction: column;
        align-items: center;
    }

    .main-five-fig {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0;
    }

    .main-five-content {
        width: 100%;
        padding-top: 0;
    }

    .main-five-text {
        width: 86.73%;
    }

    .main-five-table {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .main-five-fig-two {
        padding-top: 30px;
        padding-bottom: 10px;
        padding-right: 0;
    }

    .aside-one {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-controls {
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .aside-one-title {
        text-align: center;
    }

    .email-input {
        width: 100%;
    }

    .aside-btn {
        margin-top: 20px;
        margin-left: 0;
    }

    .moments {
        flex-direction: column;
    }

    .moment-card {
        width: 100%;
        margin-left: 0;
    }

    .footer {
        flex-direction: column;
    } 

    .fist-column {
        margin-left: 0;
        margin-top: 25px;
    }

    .second-column {
        margin-left: 0;
        margin-top: 25px;
    }

    .social {
        margin-right: auto;
        margin-left: auto;
    }
}