@media (max-width: 1024px) {
    .main-three-title {
        font-size: 2rem;
    }

    .main-four-text {
        font-size: 2.6rem;
    }

    .main-five-title::after {
        margin-top: 12px;
    }

    .main-five-text {
        margin-top: 15px;
    }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .main-two-text {
        font-size: 1.56rem;
    }
    
    .main-three-link, .main-three-price {
        font-size: 1.25rem;
    }

    .main-five-desing {
        padding-bottom: 10px;
    }

    .main-five-fig, .main-five-fig-two {
        width: 50%;
    }

    .main-five-content {
        width: 50%;
        padding-top: 55px;
    }
}

@media (max-width: 767px) {
    .main-three-contents {
        flex-direction: column;
        align-items: center;
    }

    .main-three-content {
        width: 100%;
        margin-top: 32px;
    }

    .main-three-content:first-child {
        margin-top: 0;
    }

    .main-three-link, .main-three-price {
        font-size: 1.5rem;
    }

    .main-five-desing {
        flex-direction: column;
        align-items: center;
    }

    .main-five-fig {
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 0;
    }

    .main-five-content {
        width: 100%;
        padding-top: 0;
    }

    .main-five-text {
        width: 86.73%;
    }

    .main-five-table {
        flex-direction: column;
        align-items: center;
        padding-top: 30px;
    }

    .main-five-fig-two {
        padding-top: 30px;
        padding-bottom: 10px;
        padding-right: 0;
    }

    .aside-one {
        padding-top: 20px;
        padding-left: 15px;
        padding-right: 15px;
    }

    .form-controls {
        flex-direction: column;
        align-items: center;
        margin-bottom: 15px;
    }

    .aside-one-title {
        text-align: center;
    }

    .email-input {
        width: 100%;
    }

    .aside-btn {
        margin-top: 20px;
        margin-left: 0;
    }
}